<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Film Rate</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
</head>
<body style="background: url(https://images.unsplash.com/photo-1553615738-d8e0829f1d61?ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80) no-repeat fixed center; background-size: cover">
<div class="container justify-content-center">

    <nav class="p-2 bg-light position-static">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/movies}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Add movie</a>
            </li>
        </ul>
    </nav>

    <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="bg-light p-5 rounded mt-5">
            <h3 class="text-center">Movie editor</h3>
            <form action="#" method="post" th:action="@{/movies}" th:object="${movie}">
                <label for="name">Enter name</label><br>
                <input type="text" th:field="*{name}" id="name" placeholder="Enter name"><br>
                <label for="director" class="mt-2">Enter director</label><br>
                <input type="text" th:field="*{director}" id="director" placeholder="Enter director"><br>
                <label for="description" class="mt-2">Description</label><br>
                <textarea class="container-fluid" type="text" th:field="*{description}" id="description"
                          placeholder="Enter description">
        </textarea><br>
                <input type="submit" value="Add movie" class="btn btn-info">
            </form>
        </div>
    </div>

    <!--JavaScript-->
    <script src="../static/js/bootstrap.bundle.js" th:href="@{/js/bootstrap.bundle.js}"></script>
</div>
</body>
</html>