<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Film Rate</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
</head>
<body style="background: url(https://img3.goodfon.com/wallpaper/nbig/5/41/apple-textures-fon-tekstura.jpg)">
<div class="container">
    <nav class="row p-2 bg-light position-sticky">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/movies}">Home</a>
            </li>
        </ul>
    </nav>

    <div class="row">
        <div class="col text-light" th:object="${movie}">
            <h1 th:text="*{name}"></h1>
            <h4><small>Director: </small>[[${movie.director}]]</h4>
            <h5><small>Rating: </small>[[${movie.rate.rateValue}]]</h5>
            <h5><small>Votes: </small>[[${movie.rate.votesCount}]]</h5>
            <p th:text="*{description}" class="mt-5 text-justify"></p>
        </div>
    </div>

    <h3 class="text-light">Reviews:</h3>
    <div th:each="review : ${reviews}" class="row bg-light rounded-lg text-left mb-3">
        <p th:text="${review.message}" class="p-0 m-3"></p>
    </div>
</div>

<div class="container p-0 fixed-bottom mb-3">
    <form th:action="@{/movies/{id}/add-review(id=${movie.id})}" th:method="get" class="col p-0 d-flex flex-row justify-content-end">
        <input type="submit" value="Add review" class="btn btn-info align-self-end">
    </form>
</div>

<!--JavaScript-->
<script src="../static/js/bootstrap.bundle.js" th:href="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>