<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Film Rate</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
</head>
<body style="background: url(https://img3.goodfon.com/wallpaper/nbig/5/41/apple-textures-fon-tekstura.jpg)">
<div class="container">

    <nav class="row p-2 border border-light rounded" style="background-color: #4e555b">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link" th:href="@{/movies/add}">Add movie</a>
            </li>
        </ul>
    </nav>

    <div class="row p-2">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/rating}">Sort by rating</a>
            </li>
        </ul>
    </div>

    <div class="row pt-2 pb-2 mt-3 border border-light rounded shadow" style="background-color: #4e555b"
         th:each="movie : ${movies}">
        <a class="col-11 col-md-11 col-sm-11 d-block text-light text-decoration-none" th:href="@{/movies/{id}(id=${movie.id})}">
            <h4 th:text="${movie.name}">A WHITE, WHITE DAY<span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span></h4>
            <h5 class="mb-5">
                <small>Director: </small>[[${movie.director}]]
            </h5>
            <p th:text="${movie.description}"></p>
            <h4 class="text-right" th:text="${movie.rate.rateValue}"></h4>
            <h4 class="text-right" th:text="${movie.rate.votesCount}"></h4>
        </a>

        <div class="col-1 col-md-1 col-sm-1" sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="btn-group-vertical">
                <a class="btn btn-info mb-1" th:href="@{/movies/edit/{id}(id=${movie.id})}">Edit</a>
                <form class="align-items-end" action="#" th:action="@{/movies/delete/{id}(id=${movie.id})}"
                      th:method="post">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
            </div>

        </div>
    </div>
</div>

<!--JavaScript-->
<script src="../static/js/bootstrap.bundle.js" th:href="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>